
#components-layout-demo-top-side {
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}

.ant-row-rtl #components-layout-demo-top-side  {
  float: right;
  margin: 16px 0px 16px 24px;
  
 
}
#components-grid-demo-flex [class~='ant-row'] {
  background: rgba(128, 128, 128, 0.08);
}
.item1, h4{
    border: none;
    background-color: inherit;
    color: #5007a3;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
     display: flex;
    align-items: flex-start; /* Align items to the top */
    justify-content: center; /* Center items horizontally */

}
.item1:hover {
    text-decoration: none;
    color: #e9e6ec;
}
.item1:focus {
    outline: 0;
}
.item2 {
    color: #e9e6ec;
    backdrop-filter: blur(10px); 
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
     bottom: 0;
      display: flex;
    align-items: flex-start; /* Align items to the top */
    justify-content: center; /* Center items horizontally */
    
   
}


/* Add any desired footer styles */
Footer {
     position: fixed;
 bottom: 0;
    left: 0;
    width: 100%;
    height: 4rem; /* Adjust the height as needed */
    background-color: #001529;
    padding: 1rem;
    text-align: center;
    box-sizing: border-box;
     justify-content: center;
     display: 'flex';
    
}

/* .image-grid {
display: grid;
    grid-template-columns: repeat(6, 4fr);
    grid-gap: 1rem;
    padding: 1rem;
    position: absolute;
}

.responsive-image {
    position: relative;
   padding: 1rem;
     top: -2rem; /* Adjust the distance from the top as needed */
    /* right: 3rem; /* Adjust the distance from the right as needed */


/* Style the icons */
/* Image {
    position: absolute;
    size: 50px;
  
    width: 100px; /* Adjust the icon size as needed */
    /* height: auto;
} */ 


 /* @media screen and (min-width: 768px) {
    .image-grid {
        grid-template-columns: repeat(9px, 2, 4fr); /* 3 columns on larger screens */
     /* }
    Image {
    position: fixed;
  font-size: 24px;
    width: 40px; /* Adjust the icon size as needed */
    /* height: auto;
} */ 



/* Media query for even larger screens (e.g., desktops) */
 /* @media screen and (min-width: 1200px) {
    .image-grid {
        grid-template-columns: repeat( 1px, 2. 4fr); /* 4 columns on even larger screens */
    /* }
}   */ 
