
#components-layout-demo-top-side {
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}

.ant-row-rtl #components-layout-demo-top-side  {
  float: right;
  margin: 16px 0px 16px 24px;
  
 
}

.item1{
    border: none;
    background-color: inherit;
    color: #5007a3;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item1:hover {
    text-decoration: none;
    color: #5007a3;
}
.item1:focus {
    outline: 0;
}
.item2 {
    color: #5007a3;
    backdrop-filter: blur(10px); 
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
